{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2017, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{dialogId}}" class="reveal small" data-reveal>
	<div class="reveal-body">
		<div class="row">
			<h3 class="subheader">
				{{tr "Reservation from Virtual Network"}}
			</h3>
		</div>
		<div id="{{dialogId}}Form" style="text-align: center">
			<h4 id="current">1</h4>
			<div class="form_buttons reveal-footer">
				<div class="form_buttons" style="display: flex;">
					<span style="margin: 0 15px;">1</span>
					<input id="countAdress" type="range" class="uinput-slider" min="1" max="10" step="1" value="1">
					<span style="margin: 0 15px;">10</span>
				</div>
				<div style="display: flex;justify-content: space-around;">
					<button data-close class="button radius center success" id="reserve">{{tr "Reserve Public IP"}}</button>
					<button data-close class="button radius center success" id="release">{{tr "Release Public IP"}}</button>
				</div>
			</div>
			<button class="close-button" data-close aria-label="{{tr "Close modal"}}" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>