{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2017, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="datastore_row" class="row" hidden>
    <div class="large-12 columns">
<<<<<<< HEAD
        <table id="cloud_datactores_datatable" class="datatable hover" >
            <thead id="datastores_thead">
            <tr role="row">
                <th>{{tr "ID"}}</th>
                <th>{{tr "NAME"}}</th>
                <th>{{tr "DISK TYPE"}}</th>
                <th>{{tr "HYPERVISOR"}}</th>
                <th>{{tr "DEPLOY"}}</th>
            </tr>
=======
        <table id="cloud_datactores_datatable" class="datatable hover">
            <thead id="datastores_thead">
                <tr role="row">
                    <th>{{tr "ID"}}</th>
                    <th>{{tr "NAME"}}</th>
                    <th>{{tr "DISK TYPE"}}</th>
                    <th>{{tr "HYPERVISOR"}}</th>
                    <th>{{tr "DEPLOY"}}</th>
                </tr>
>>>>>>> master
            </thead>
            <tbody id="datastores_body" style="border-bottom: none;">

            </tbody>
        </table>

        <div style="text-align: right">
<<<<<<< HEAD
            <button id="datastores_but_reset"class="button radius info" type="button">{{tr "Reset"}}</button>
=======
            <button id="datastores_but_reset" class="button radius info" type="button">{{tr "Reset"}}</button>
>>>>>>> master
            <button id="datastores_but_submit" class="button radius success" type="button">{{tr "Submit"}}</button>
        </div>
    </div>
</div>





<div id="settings_row" class="row" hidden>
    <div class="large-12 columns">
        <table class="dataTable" cellpadding="0" cellspacing="0" border="0">
            <thead id="settings_thead">
                <tr>
                    <th colspan="3">{{tr "Cloud settings"}}</th>
                </tr>
            </thead>
            <tbody id="settings_body" style="border-bottom: none;">

            </tbody>
        </table>
        <table class="dataTable" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="key_setting_td">
                    <input type="text" list="settings_key_vars" name="new_key_setting" placeholder="parent key" />
                    <datalist id="settings_key_vars">

                    </datalist>
                </td>
                <td class="key1_setting_td">
                    <input type="text" list="settings_key1_vars" name="new_key1_setting"
                        placeholder="subkey(optional)" />
                    <datalist id="settings_key1_vars"></datalist>
                </td>
                <td class="value_setting_td">
                    <input type="text" list="settings_value_vars" name="new_value_setting" placeholder="value" />
                    <datalist id="settings_value_vars"></datalist>
                </td>
                <td style="text-align: center">
                    <button type="button" id="setting_new_field" class="button small secondary"><i
                            class="fa fa-lg fa-plus-circle"></i></button>
                </td>
            </tr>
        </table>
        <div style="text-align: right">
<<<<<<< HEAD
            <button id="settings_but_reset"class="button radius info" type="button">{{tr "Reset"}}</button>
=======
            <button id="settings_but_reset" class="button radius info" type="button">{{tr "Reset"}}</button>
>>>>>>> master
            <button id="settings_but_submit" class="button radius success" type="button">{{tr "Submit"}}</button>
        </div>
    </div>
</div>

<div id="cloud_placeholder">
    <div class="row">
        <div class="large-8 large-centered columns">
            <div class="text-center">
<<<<<<< HEAD
        <span class="fa-stack fa-5x" style="color: #dfdfdf">
          <i class="fa fa-cog fa-spin fa-stack-2x fa-3x fa-fw"></i>
          <i class="fa fa-cloud fa-stack-1x" style="color: white"></i>
        </span>
=======
                <span class="fa-stack fa-5x" style="color: #dfdfdf">
                    <i class="fa fa-cog fa-spin fa-stack-2x fa-3x fa-fw"></i>
                    <i class="fa fa-cloud fa-stack-1x" style="color: white"></i>
                </span>
>>>>>>> master
                <div id="cloud_no_data" hidden>
                    <br>
                    <p style="font-size: 18px; color: #999">
                        {{tr "There are no cloud records"}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>