{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2017, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div>
  <form data-abide novalidate id="{{formPanelId}}Wizard" class="custom creation">
      <div class="lagre-12 columns">
          <div class="large-6 columns">
              <label for="Playbooks">
                  {{tr "Playbooks"}}
              </label>
              <select wizard_field="Playbooks" id="Playbooks" name="Playbooks">
                  <option value=""></option>
                  {{#each Playbooks}}
                  <option value="{{ANSIBLE.id}}">{{ANSIBLE.id}}:{{ANSIBLE.name}}</option>
                  {{/each}}
              </select>
              <div class="playbooks_vars"></div>
          </div>
          <div class="large-6 column">
              <input type="checkbox" id="checkbox_sshkey" name="checkbox_sshkey">
              <label for="checkbox_sshkey">{{tr "Use SSH key for all"}}</label>
              <div class="ssh_key_ok hidden">
                   <label for="Playbooks">{{tr "SSH Key"}}</label>
                   <textarea name="ssh_key" id="ssh_key"></textarea>
              </div>
              <div class="comment">
                  {{tr "Comment"}}
                  <textarea name="comment" id="comment"></textarea>
              </div>
          </div>
      </div>
      <div class="lagre-12 columns login-pass-vm"></div>
      <div class="lagre-12 columns">
          <div class="tabs-content" data-tabs-content="{{formPanelId}}Tabs">
              <div id="tab-VMsTab" class="is-active tabs-panel">
                  {{{VMTableHTML}}}
              </div>
          </div>
      </div>
  </form>
</div>
