{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2017, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

{{#if azure_template}}



<br>
<div class="template-row" element-id="{{element.ID}}">
  <div class="row" style="background-color: #e9e9e9;">
    <div id="left_colum" class="medium-8 columns" style="border-right-style: ridge;background-color: white;">

      <div class="medium-2 small-12 columns" style="width: 50%">
        <label for="vm_name">
          {{tr "VM name"}}
          <span class="tip">
          {{tr "Defaults to 'template name-<vmid>' when empty. When creating several VMs, the wildcard %i will be replaced with a number starting from 0"}}.
        </span>
        </label>
        <input type="text" name="vm_name" readonly onfocus="this.removeAttribute('readonly');" id="vm_name" />
      </div>

      <div class="medium-2 small-12 columns" style="width: 50%">
        <label for="vm_n_times">
          {{tr "Number of instances"}}
        </label>
        <input type="number" name="vm_n_times" id="vm_n_times" value="1" min="1">
        <input type="number" name="vm_n_times_disabled" id="vm_n_times_disabled" value="1" style="display: none" disabled>
      </div>

      <div id="OC_name" class="medium-2 small-12 columns" style="width: 100%;text-align: center">
        <h6>
          {{element.NAME}}<br>
          <span class="total_cost_div" style="display: none">
          <span class="cost_value" style="font-size: 1.4rem;">0.00</span>
          <span>{{tr "COST"}} / {{tr "HOUR"}}</span>
        </span>
        </h6>
        <span id="OC_image">
        </span>
        <div class="OC_name_Container">

        </div>
      </div>

      <div id="capacityContext" class="medium-5 small-12 columns capacityContext{{element.ID}}" style="padding-top: 20px; width: 100%">
        <fieldset>
          <legend style="width: 100%">
            <i class="fa fa-desktop"></i> {{tr "CPU + RAM"}}<br>
            <span class="capacity_cost_div" style="display: none">
            <span class="cost_value">0.00</span>
            <span>{{tr "COST"}} / {{tr "HOUR"}}</span>
          </span>
          </legend>
          <div class="capacityContext" style="padding-right: 40px;">


          </div>
        </fieldset>
      </div>

      <div id="disksContext" class="medium-5 small-12 columns disksContext{{element.ID}}" style="width: 100%;">
        <fieldset>
          <legend style="width: 100%">
            <i class="fa fa-hdd-o"></i> {{tr "Disks"}}<br>
            <span class="provision_create_template_disk_cost_div" style="display: none">
              <span class="cost_value">0.00</span>
              <span>{{tr "COST"}} / {{tr "HOUR"}}</span>
            </span>
          </legend>
          <div class="disksContainer" style="padding-right: 40px;">

          </div>
        </fieldset>
      </div>


      <div id="nicsContext" class="medium-5 small-12 columns" style="width: 100%;">
        <fieldset>
          <legend style="width: 100%">
            <i class="fa fa-globe"></i> {{tr "Network"}}<br>
          </legend>
          <div class="nicsContainer" style="padding-right: 40px;">

          </div>
        </fieldset>
      </div>

      {{#isFeatureEnabled "show_vnet_instantiate"}}
      <div class="small-12 columns nicsContext{{element.ID}}" style="width: 100%">
        <div class="provision_network_selector">
        </div>
      </div>
      {{/isFeatureEnabled}}

    </div>



    <div class="medium-4 columns" id="right_colum">


      <div class="medium-2 small-12 columns" style="width: 100%;padding-bottom: 17px;">
        {{#if default_user_view}}
        <label style="height: 22.5px;">{{tr "COST / TIME indicator"}}</label>
        {{else}}
        {{#isTabActionEnabled "vms-tab" "VM.hold"}}
        <label style="height: 22.5px;">
          <input type="checkbox" name="hold" id="hold"/>
          {{tr "Start on hold"}}
          <span class="tip">
          {{tr "Sets the new VM to hold state, instead of pending. The scheduler will not deploy VMs in this state. It can be released later, or deployed manually."}}
        </span>
        </label>
        {{/isTabActionEnabled}}
        {{/if}}
        <select type="text" id="CostVaribl">
          <option value="1">{{tr "COST"}} / {{tr "HOUR"}}</option>
          <option value="24">{{tr "COST"}} / {{tr "DAY"}}</option>
          <option value="168">{{tr "COST"}} / {{tr "WEEK"}}</option>
          <option value="706">{{tr "COST"}} / {{tr "MONTH"}}</option>
        </select>
      </div>

      <div style="width: 100%;padding-left: 1.2rem;font-size: 16px">
        <div style="width: 100%">
          <span class="capacity_cost_div" >
            <i class="fa fa-desktop"></i> {{tr "Capacity"}}<br>
            <span class="cost_value" style="font-size: 1.4rem;">&#8195;0.00</span>
            <span class="cost_label"></span>
          </span>
        </div>
        <div style="width: 100%">
          <span class="provision_create_template_disk_cost_div">
            <i class="fa fa-hdd-o"></i> {{tr "Disks"}}<br>
            <span class="cost_value" style="font-size: 1.4rem;">&#8195;0.00</span>
            <span class="cost_label"></span>
          </span>
        </div>
        <div style="width: 100%;border-top-style: groove; ">
          <span class="total_cost_div">
            <i class="fa fa-cloud-upload"></i>{{tr "COST"}}<br>
            <span class="cost_value" style="font-size: 1.4rem;">&#8195;0.00</span>
            <span class="cost_label"></span>
          </span>
        </div>


      </div>

      <div class="medium-5 small-12 columns template_user_inputs{{element.ID}}" style="width: 100%;padding-top: 37px"></div>
      <div style="width: 90%;text-align: right"><button class="button success radius submit_button" href="submit">{{tr "Create"}}</button></div>
    </div>


  </div>

  {{#if default_user_view}}
  <div style="display: none">
    {{#advancedSection (tr "Advanced options") }}
    {{#isFeatureEnabled "show_host_instantiate"}}
    <div class="row">
      <div class="small-12 columns hostContext{{element.ID}}">
        <fieldset>
          <legend>
            <i class="fas fa-hdd"></i> {{tr "Deploy VM in a specific Host"}}
          </legend>
          <div class="provision_host_selector{{element.ID}}" data-tab-content>{{{hostsDatatable}}}</div>
          <div class="row">
            <div class="large-12 columns">
              <label for="SCHED_REQUIREMENTS">
                {{tr "Expression"}}
                {{{tip (tr "Boolean expression that rules out entries from the pool of datastores suitable to run this VM.")}}}
              </label>
              <input type="text" wizard_field="SCHED_REQUIREMENTS" id="SCHED_REQUIREMENTS{{element.ID}}" name="requirements" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    {{/isFeatureEnabled}}
    {{#isFeatureEnabled "show_ds_instantiate"}}
    <div class="row">
      <div class="small-12 columns dsContext{{element.ID}}">
        <fieldset>
          <legend>
            <i class="fas fa-folder-open"></i> {{tr "Deploy VM in a specific Datastore"}}
          </legend>
          <div class="provision_ds_selector{{element.ID}}" data-tab-content>{{{dsDatatable}}}</div>
          <div class="row">
            <div class="large-12 columns">
              <label for="SCHED_DS_REQUIREMENTS">
                {{tr "Expression"}}
                {{{tip (tr "Boolean expression that rules out entries from the pool of datastores suitable to run this VM.")}}}
              </label>
              <input type="text" wizard_field="SCHED_DS_REQUIREMENTS" id="SCHED_DS_REQUIREMENTS{{element.ID}}" name="requirements" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    {{/isFeatureEnabled}}
    {{#isFeatureEnabled "show_vmgroup_instantiate"}}
    <div class="row">
      <div class="small-12 columns vmgroupContext{{element.ID}}">
        <fieldset>
          <legend>
            <i class="fa fa-globe"></i> {{tr "VM Group"}}
          </legend>
          <div>
            <a class="button small provision_add_vmgroup">
              <i class="fa fa-lg fa-plus-circle add_vmgroup"></i> {{tr "VM Group"}}
            </a>
          </div>
          <div class="provision_vmgroup_selector">
          </div>
        </fieldset>
      </div>
    </div>
    {{/isFeatureEnabled}}
    <div class="row">
      <div class="medium-6 small-12 columns vcenterVMFolderContext{{element.ID}}">
        <div class="provision_vcenter_vm_folder_selector">
        </div>
      </div>
    </div>
    {{/advancedSection}}
  </div>
  {{else}}
  {{#advancedSection (tr "Advanced options") }}
  {{#isFeatureEnabled "show_host_instantiate"}}
  <div class="row">
    <div class="small-12 columns hostContext{{element.ID}}">
      <fieldset>
        <legend>
          <i class="fas fa-hdd"></i> {{tr "Deploy VM in a specific Host"}}
        </legend>
        <div class="provision_host_selector{{element.ID}}" data-tab-content>{{{hostsDatatable}}}</div>
        <div class="row">
          <div class="large-12 columns">
            <label for="SCHED_REQUIREMENTS">
              {{tr "Expression"}}
              {{{tip (tr "Boolean expression that rules out entries from the pool of datastores suitable to run this VM.")}}}
            </label>
            <input type="text" wizard_field="SCHED_REQUIREMENTS" id="SCHED_REQUIREMENTS{{element.ID}}" name="requirements" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  {{/isFeatureEnabled}}
  {{#isFeatureEnabled "show_ds_instantiate"}}
  <div class="row">
    <div class="small-12 columns dsContext{{element.ID}}">
      <fieldset>
        <legend>
          <i class="fas fa-folder-open"></i> {{tr "Deploy VM in a specific Datastore"}}
        </legend>
        <div class="provision_ds_selector{{element.ID}}" data-tab-content>{{{dsDatatable}}}</div>
        <div class="row">
          <div class="large-12 columns">
            <label for="SCHED_DS_REQUIREMENTS">
              {{tr "Expression"}}
              {{{tip (tr "Boolean expression that rules out entries from the pool of datastores suitable to run this VM.")}}}
            </label>
            <input type="text" wizard_field="SCHED_DS_REQUIREMENTS" id="SCHED_DS_REQUIREMENTS{{element.ID}}" name="requirements" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  {{/isFeatureEnabled}}
  {{#isFeatureEnabled "show_vmgroup_instantiate"}}
  <div class="row">
    <div class="small-12 columns vmgroupContext{{element.ID}}">
      <fieldset>
        <legend>
          <i class="fa fa-globe"></i> {{tr "VM Group"}}
        </legend>
        <div>
          <a class="button small provision_add_vmgroup">
            <i class="fa fa-lg fa-plus-circle add_vmgroup"></i> {{tr "VM Group"}}
          </a>
        </div>
        <div class="provision_vmgroup_selector">
        </div>
      </fieldset>
    </div>
  </div>
  {{/isFeatureEnabled}}
  <div class="row">
    <div class="medium-6 small-12 columns vcenterVMFolderContext{{element.ID}}">
      <div class="provision_vcenter_vm_folder_selector">
      </div>
    </div>
  </div>
  {{/advancedSection}}
  {{/if}}
</div>
<br>











{{else}}
<br>
<div class="template-row" element-id="{{element.ID}}">
  <div class="row" style="background-color: #e9e9e9;">
    <div id="left_colum" class="medium-8 columns" style="border-right-style: ridge;background-color: white;padding-bottom: 46%;">

      <div class="medium-2 small-12 columns" style="width: 50%">
        <label for="vm_name">
          {{tr "VM name"}}
          <span class="tip">
          {{tr "Defaults to 'template name-<vmid>' when empty. When creating several VMs, the wildcard %i will be replaced with a number starting from 0"}}.
        </span>
        </label>
        <input type="text" name="vm_name" readonly onfocus="this.removeAttribute('readonly');" id="vm_name" />
      </div>

      <div class="medium-2 small-12 columns" style="width: 50%">
        <label for="vm_n_times">
          {{tr "Number of instances"}}
        </label>
        <input type="number" name="vm_n_times" id="vm_n_times" value="1" min="1">
        <input type="number" name="vm_n_times_disabled" id="vm_n_times_disabled" value="1" style="display: none" disabled>
      </div>

      <div id="OC_name" class="medium-2 small-12 columns" style="width: 100%;text-align: center">
        <h6>
          {{element.NAME}}<br>
          <span class="total_cost_div" style="display: none">
          <span class="cost_value" style="font-size: 1.4rem;">0.00</span>
          <span>{{tr "COST"}} / {{tr "HOUR"}}</span>
        </span>
        </h6>
        <span>
        <img src="{{element.TEMPLATE.LOGO}}">
      </span>
      </div>

      <div id="capacityContext" class="medium-5 small-12 columns capacityContext{{element.ID}}" style="width: 100%">
        <fieldset>
          <legend style="width: 100%">
            <i class="fa fa-desktop"></i> {{tr "CPU + RAM"}}<br>
            <span class="capacity_cost_div" style="display: none">
            <span class="cost_value">0.00</span>
            <span>{{tr "COST"}} / {{tr "HOUR"}}</span>
          </span>
          </legend>
          <div>
            {{{capacityInputsHTML}}}
          </div>
        </fieldset>
      </div>
      <div id="disksContext" class="medium-5 small-12 columns disksContext{{element.ID}}" style="width: 100%;"></div>

      {{#if default_user_view}}
      <div class="small-12 columns nicsContext{{element.ID}}" style="width: 100%">
        <div class="provision_network_selector">
          <fieldset style="padding-top: 1rem">
            <legend style="width: 100%">
              <i class="fa fa-globe"></i> {{tr "Network"}}<br>
            </legend>
            <div class="provision_network_selector_div">
              <div>
                <label style="width: 20%;float: left;">{{tr "Public IP"}}</label>
                <div id="public_ip_div" style="width: 45%;float: left;margin-left: 33%;">
                  <div class="switch left" style="margin-right: 20%;">
                    <input class="switch-input" id="input_public_ip" type="checkbox">
                    <label class="switch-paddle" for="input_public_ip">
                    </label>
                  </div>
                  <input type="number" id="amt_public_ip" value="1" min="1" max="10" style="width: 50px;" disabled>
                </div>
              </div>

              <div>
                <label style="width: 20%;float: left;">{{tr "Private IP"}}</label>
                <div id="private_ip_div" style="width: 45%;float: left;margin-left: 33%;">
                  <div class="switch left" style="margin-right: 20%;">
                    <input class="switch-input" id="input_private_ip" type="checkbox">
                    <label class="switch-paddle" for="input_private_ip">
                    </label>
                  </div>
                  <input type="number" id="amt_private_ip" value="1" min="1" max="10" style="width: 50px;" disabled>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      {{else}}
      {{#isFeatureEnabled "show_vnet_instantiate"}}
      <div class="small-12 columns nicsContext{{element.ID}}" style="width: 100%">
        <div class="provision_network_selector">
        </div>
      </div>
      {{/isFeatureEnabled}}
      {{/if}}
    </div>




    <div class="medium-4 columns" id="right_colum">


      <div class="medium-2 small-12 columns" style="width: 100%;padding-bottom: 17px;">
        {{#if default_user_view}}
        <label style="height: 22.5px;">{{tr "COST / TIME indicator"}}</label>
        {{else}}
        {{#isTabActionEnabled "vms-tab" "VM.hold"}}
        <label style="height: 22.5px;">
          <input type="checkbox" name="hold" id="hold"/>
          {{tr "Start on hold"}}
          <span class="tip">
          {{tr "Sets the new VM to hold state, instead of pending. The scheduler will not deploy VMs in this state. It can be released later, or deployed manually."}}
        </span>
        </label>
        {{/isTabActionEnabled}}
        {{/if}}
        <select type="text" id="CostVaribl">
          <option value="1">{{tr "COST"}} / {{tr "HOUR"}}</option>
          <option value="24">{{tr "COST"}} / {{tr "DAY"}}</option>
          <option value="168">{{tr "COST"}} / {{tr "WEEK"}}</option>
          <option value="706">{{tr "COST"}} / {{tr "MONTH"}}</option>
        </select>
      </div>

      <div style="width: 100%;padding-left: 1.2rem;font-size: 16px">
        <div id="element_cost">
          <div style="width: 100%">
          <span class="capacity_cost_div" >
            <i class="fa fa-desktop"></i> {{tr "CPU + RAM"}}<br>
            <span class="cost_value" style="font-size: 1.4rem;">&#8195;0.00</span>
            <span class="cost_label"></span>
          </span>
          </div>
          <div style="width: 100%">
          <span class="provision_create_template_disk_cost_div">
            <i class="fa fa-hdd-o"></i> {{tr "Disks"}}<br>
            <span class="cost_value" style="font-size: 1.4rem;">&#8195;0.00</span>
            <span class="cost_label"></span>
          </span>
          </div>
        </div>
        <div id="publicip_cost_div" hidden style="width: 100%">
          <span class="publicip_cost_div">
            <i class="fa fa-globe"></i>&nbsp;{{tr "Network"}}<br>
            <span class="cost_value" style="font-size: 1.4rem;"></span>&nbsp;
            <span class="cost_label"></span>
          </span>
        </div>
        <div style="width: 100%;border-top-style: groove; ">
          <span class="total_cost_div">
            <i class="fa fa-cloud-upload"></i> {{tr "Total cost"}}<br>
            <span class="cost_value" style="font-size: 1.4rem;">&#8195;0.00</span>
            <span class="cost_label"></span>
          </span>
        </div>


      </div>

      <div class="medium-5 small-12 columns template_user_inputs{{element.ID}}" style="width: 100%;padding-top: 37px"></div>
      <div style="width: 90%;text-align: right"><button class="button success radius submit_button" href="submit">{{tr "Create"}}</button></div>
    </div>


  </div>

  {{#if default_user_view}}
  <div style="display: none">
    {{#advancedSection (tr "Advanced options") }}
    {{#isFeatureEnabled "show_host_instantiate"}}
    <div class="row">
      <div class="small-12 columns hostContext{{element.ID}}">
        <fieldset>
          <legend>
            <i class="fas fa-hdd"></i> {{tr "Deploy VM in a specific Host"}}
          </legend>
          <div class="provision_host_selector{{element.ID}}" data-tab-content>{{{hostsDatatable}}}</div>
          <div class="row">
            <div class="large-12 columns">
              <label for="SCHED_REQUIREMENTS">
                {{tr "Expression"}}
                {{{tip (tr "Boolean expression that rules out entries from the pool of datastores suitable to run this VM.")}}}
              </label>
              <input type="text" wizard_field="SCHED_REQUIREMENTS" id="SCHED_REQUIREMENTS{{element.ID}}" name="requirements" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    {{/isFeatureEnabled}}
    {{#isFeatureEnabled "show_ds_instantiate"}}
    <div class="row">
      <div class="small-12 columns dsContext{{element.ID}}">
        <fieldset>
          <legend>
            <i class="fas fa-folder-open"></i> {{tr "Deploy VM in a specific Datastore"}}
          </legend>
          <div class="provision_ds_selector{{element.ID}}" data-tab-content>{{{dsDatatable}}}</div>
          <div class="row">
            <div class="large-12 columns">
              <label for="SCHED_DS_REQUIREMENTS">
                {{tr "Expression"}}
                {{{tip (tr "Boolean expression that rules out entries from the pool of datastores suitable to run this VM.")}}}
              </label>
              <input type="text" wizard_field="SCHED_DS_REQUIREMENTS" id="SCHED_DS_REQUIREMENTS{{element.ID}}" name="requirements" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    {{/isFeatureEnabled}}
    {{#isFeatureEnabled "show_vmgroup_instantiate"}}
    <div class="row">
      <div class="small-12 columns vmgroupContext{{element.ID}}">
        <fieldset>
          <legend>
            <i class="fa fa-globe"></i> {{tr "VM Group"}}
          </legend>
          <div>
            <a class="button small provision_add_vmgroup">
              <i class="fa fa-lg fa-plus-circle add_vmgroup"></i> {{tr "VM Group"}}
            </a>
          </div>
          <div class="provision_vmgroup_selector">
          </div>
        </fieldset>
      </div>
    </div>
    {{/isFeatureEnabled}}
    <div class="row">
      <div class="medium-6 small-12 columns vcenterVMFolderContext{{element.ID}}">
        <div class="provision_vcenter_vm_folder_selector">
        </div>
      </div>
    </div>
    {{/advancedSection}}
  </div>



  {{else}}




  {{#advancedSection (tr "Advanced options") }}
  {{#isFeatureEnabled "show_host_instantiate"}}
  <div class="row">
    <div class="small-12 columns hostContext{{element.ID}}">
      <fieldset>
        <legend>
          <i class="fas fa-hdd"></i> {{tr "Deploy VM in a specific Host"}}
        </legend>
        <div class="provision_host_selector{{element.ID}}" data-tab-content>{{{hostsDatatable}}}</div>
        <div class="row">
          <div class="large-12 columns">
            <label for="SCHED_REQUIREMENTS">
              {{tr "Expression"}}
              {{{tip (tr "Boolean expression that rules out entries from the pool of datastores suitable to run this VM.")}}}
            </label>
            <input type="text" wizard_field="SCHED_REQUIREMENTS" id="SCHED_REQUIREMENTS{{element.ID}}" name="requirements" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  {{/isFeatureEnabled}}
  {{#isFeatureEnabled "show_ds_instantiate"}}
  <div class="row">
    <div class="small-12 columns dsContext{{element.ID}}">
      <fieldset>
        <legend>
          <i class="fas fa-folder-open"></i> {{tr "Deploy VM in a specific Datastore"}}
        </legend>
        <div class="provision_ds_selector{{element.ID}}" data-tab-content>{{{dsDatatable}}}</div>
        <div class="row">
          <div class="large-12 columns">
            <label for="SCHED_DS_REQUIREMENTS">
              {{tr "Expression"}}
              {{{tip (tr "Boolean expression that rules out entries from the pool of datastores suitable to run this VM.")}}}
            </label>
            <input type="text" wizard_field="SCHED_DS_REQUIREMENTS" id="SCHED_DS_REQUIREMENTS{{element.ID}}" name="requirements" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  {{/isFeatureEnabled}}
  {{#isFeatureEnabled "show_vmgroup_instantiate"}}
  <div class="row">
    <div class="small-12 columns vmgroupContext{{element.ID}}">
      <fieldset>
        <legend>
          <i class="fa fa-globe"></i> {{tr "VM Group"}}
        </legend>
        <div>
          <a class="button small provision_add_vmgroup">
            <i class="fa fa-lg fa-plus-circle add_vmgroup"></i> {{tr "VM Group"}}
          </a>
        </div>
        <div class="provision_vmgroup_selector">
        </div>
      </fieldset>
    </div>
  </div>
  {{/isFeatureEnabled}}
  <div class="row">
    <div class="medium-6 small-12 columns vcenterVMFolderContext{{element.ID}}">
      <div class="provision_vcenter_vm_folder_selector">
      </div>
    </div>
  </div>
  {{/advancedSection}}
  {{/if}}
</div>
<br>
{{/if}}