{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2017, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}


<div class="row">
  <div id="showback_user_container" class="left medium-4 columns">
    <label for="showback_user_select">{{tr "Filter by user"}}</label>
    <div id="showback_user_select" />
  </div>
  <div id="showback_group_container" class="left medium-4 columns">
    <label for="showback_group_select">{{tr "Filter by group"}}</label>
    <div id="showback_group_select" />
  </div>
  <div id="showback_button_container" class="right medium-4 columns" style="display: none;">
    <button class="button radius success right large-12" id="showback_submit" type="button">
      {{tr "Get showback"}}
    </button>
  </div>
</div>
<div id="showback_placeholder">
  <div class="row">
    <div class="large-8 large-centered columns">
      <div class="text-center">
        <span class="fa-stack fa-5x" style="color: #dfdfdf">
          <i class="fa fa-cog fa-spin fa-stack-2x fa-3x fa-fw"></i>
          <i class="fa fa-cloud fa-stack-3x"></i>
          <i class="fa fa-money fa-stack-1x fa-inverse"></i>
        </span>
        <div id="showback_no_data" hidden>
          <br>
          <p style="font-size: 18px; color: #999">
            {{tr "There are no showback records"}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="showback_content" hidden>
  <div class="row showback_table">
    <div class="large-12 columns graph_legend">
      <div style="float: left;">
        <h3 class="subheader">{{tr "Showback"}}</h3>
      </div>
      <div style="float: left;margin-top: 22.5px;font-size: 20px;">
        <span
          class="tip">{{tr "Statistics show funds consumed by User per month. It's also viewable at the chart right."}}</span>
      </div>
    </div>
    <div class="medium-6 columns" style="overflow:auto">
      <table id="showback_datatable" class="datatable hover">
        <thead>
          <tr>
            <th>dateint</th>
            <th>{{tr "Year"}}</th>
            <th>{{tr "Month"}}</th>
            <th>{{tr "Date"}}</th>
            <th>{{tr "Cost"}}</th>
          </tr>
        </thead>
        <tbody id="tbody_showback_datatable">
        </tbody>
      </table>
      <span class="label secondary radius showback_select_a_row">
        {{tr "Select a row to get detailed information of the month"}}
      </span>
    </div>
    <div class="medium-6 columns">
      <div class="large-12 columns centered graph" id="showback_graph" style="height: 200px;">
      </div>
    </div>
  </div>
  <div class="medium-6 columns">
    <div class="container" id="test_table_graph" hidden></div>
  </div>
  <div class="medium-6 columns">
    <div id="test_table_graph_legend" style="margin-top: 50px;font-size: 15px;" hidden>
    </div>
  </div>
  <div class="row test_table" hidden>
    <div id="table_test_title" class="large-12 columns graph_legend">
      <div style="float: left">
        <h3 class="subheader" id="test_title">{{tr "VMs"}}</h3>
      </div>
      <div style="margin-top: 22.5px;font-size: 20px;float: left;"><span
          class="tip">{{tr "The statistics of funds for the selected month, items “Total”, “CPU”, “Memory”, “Disk”, “Public ip” - are the amount of funds debited from the account for the selected item, respectively, and the item “Work time” is the time of the VM in hours. You can also combine resource points."}}</span>
      </div>
      <div id="label_work_time" class="showback_div_label"
        style="margin-right: 25px;cursor: pointer;padding: 0px 10px 0px 10px;float: right;text-align: center;border: 2px solid #00000036;border-radius: 100px !important;margin-top: 40px;">
        {{ tr "Work time"}}</div>
      <div id="label_pub_ip" class="showback_div_label"
        style="margin-right: 25px;cursor: pointer;padding: 0px 10px 0px 10px;float: right;text-align: center;border: 2px solid #00000036;border-radius: 100px !important;margin-top: 40px;">
        {{ tr "Public IP"}}</div>
      <div id="label_disk" class="showback_div_label"
        style="margin-right: 25px;cursor: pointer;padding: 0px 10px 0px 10px;float: right;text-align: center;border: 2px solid #00000036;border-radius: 100px !important;margin-top: 40px;">
        {{ tr "Disk"}}</div>
      <div id="label_memory" class="showback_div_label"
        style="margin-right: 25px;cursor: pointer;padding: 0px 10px 0px 10px;float: right;text-align: center;border: 2px solid #00000036;border-radius: 100px !important;margin-top: 40px;">
        {{ tr "Memory"}}</div>
      <div id="label_cpu" class="showback_div_label"
        style="margin-right: 25px;cursor: pointer;padding: 0px 10px 0px 10px;float: right;text-align: center;border: 2px solid #00000036;border-radius: 100px !important;margin-top: 40px;">
        {{ tr "CPU"}}</div>
      <div id="label_cost" class="showback_div_label active"
        style="margin-right: 25px;cursor: pointer;padding: 0px 10px 0px 10px;float: right;text-align: center;border: 2px solid #4dbbd3;border-radius: 100px !important;margin-top: 40px;">
        {{ tr "Total"}}</div>
    </div>
    <div id="div_test_datatable" class="large-12 columns" style="overflow:auto">
      <table id="test_datatable" class="hover">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>

</div>